*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* index.html */


nav a{
    text-decoration: none;
    color: rgb(43, 42, 42);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px 10px;
    font-size: 1.2rem;
}

nav select{
    width: 120px;
    height: 35px;
    border: none;
    margin-left: 50px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor: pointer;
}
nav select:hover{
    background: wheat;
}

.se{
    background: rgb(22, 171, 230);
    border-radius: 10px;
    height: 40px;
    width: 150px;
    text-align:  center;
    border: 2px solid rgb(209, 209, 209);
}
.se a{
    color: aliceblue;
}
.cree{
    background: green;
    border-radius: 10px;
    height: 40px;
    width: 180px;
    text-align:  center;
    color: aliceblue;
    border: 2px solid rgb(209, 209, 209);
    margin-left: 10px;
}
.searc{
    font-size: 1.5rem;
    padding-right: 30px;
  cursor: pointer;
}
.cree a{
    color: aliceblue;
}
form{
    margin-top: 5%;
    width: 100%;
    padding-left: 450px;
    padding-right: 450px;
}

label{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.bien h1{
    text-align: center;
    color: rgb(20, 201, 233);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.bien p{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    margin-top: 30px;
}
.bien{
    padding-top: 3%;
}

/* page acceuil */

.sect_1{
    display: flex;
    padding: 2% 3%;
    justify-content: space-around;
    padding-left: 250px;
    padding-right: 250px;
    background-image: linear-gradient(rgba(7, 11, 27, 0.7),rgba(13, 20, 46, 0.7)),url(62fea4e1ae9875155fbe07c5_06_17_2022_article_monetisation_photo_couverture.jpeg);
    /* background: rgb(80, 79, 79); */
}
.sect_1 h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 59, 59);
    font-size: 4rem;
    padding-top: 15%;
}
.sect_1 p{
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.sect_1 img{
    border-radius: 10px;
}
li{
    font-size: 1.5rem;
}

/* section 2 */

.rows{
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}
.fonc-col{
    flex-basis: 25%;
    /* background: #faf3f3; */
    border-radius: 20px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    border: 2px solid rgb(235, 227, 212);
    cursor: pointer;
}
.sect_2 h1{
    padding: 5% 5%;
    padding-left: 10%;
    color: rgb(255, 35, 35);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5rem;
}
.fonc-col h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: brown;
    margin-top: 5%;
}
.fonc-col img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    
}
.fonc-col button{
    width: 200px;
    height: 35px;
    border-radius: 8px;
    background: red;
    text-align: center;
    color: wheat;
}
.fonc-col button:hover{
    background: rgb(255, 89, 89);
}
.i{
    font-size: 3rem;
    margin-left: 10px;
}
.u{
    font-size: 3rem;
    margin-left: 40%;
}
